# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]

#log files
*.log

*.ipynb
# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Python tooling
.mypy_cache/
.pytest_cache/
.cache/

# pip / packaging
build/
dist/
*.egg-info/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

